{% if record.title == "Home" %}
    {% set title = app.config.get('general/sitename') %}
{% else %}
    {% set title = record.title %}
{% endif %}

{% if record.wide_image != "" %}
    <div class="primary-image wide visible-md-block visible-lg-block">
        <div class="container">
            <div class="showcase">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <img src="{{ image(record.wide_image ) }}" />
    </div>
{% endif %}

{% if record.square_image != "" %}
<div class="primary-image square container visible-xs-block visible-sm-block">
    <h1>{{ title }}</h1>
    <img src="{{ image(record.square_image ) }}" />
</div>
{% endif %}

{% if record.wide_image == "" and record.square_image == "" %}
    <div class="record-head container">
        <h1>{{ title }}</h1>
    </div>
{% endif %}
