<!DOCTYPE html>
<html lang="{{ htmllang() }}">
<head>
    {% block head %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            {% if record.title is defined %}{{ record.title|striptags }} | {% endif %}
                {{ app.config.get('general/sitename') }}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
        </title>
        <meta name="author" content="name" />
        <meta name="description" content="description here" />
        <meta name="keywords" content="keywords,here" />

        <link rel="stylesheet" 
              href="{{ paths.theme }}css/bootstrap.min.css" />
        <link rel="stylesheet" 
              href="{{ paths.theme }}css/jasny-bootstrap.min.css" />

        <link rel="stylesheet"
              href="{{ paths.theme }}css/custom.css" />
        <link rel="stylesheet"
              href="{{ paths.theme }}css/header.css" />
        <link rel="stylesheet"
              href="{{ paths.theme }}css/news.css" />
        <link rel="stylesheet"
              href="{{ paths.theme }}css/primary-image.css" />
        <link rel="stylesheet"
              href="{{ paths.theme }}css/roster.css" />
        <link rel="stylesheet"
              href="{{ paths.theme }}css/sidebar.css" />
        <link rel="stylesheet"
              href="{{ paths.theme }}css/typography.css" />

    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <div id="header">
            {% block nav %}
                {{ menu('main', '_nav.twig') }}
            {% endblock %}
        </div>

        {% block centerpiece %}
            {% include '_centerpiece.twig' %}
        {% endblock %}

        <div id="content" class="container">
            <div class="row">
                <div id="primary" class="col-md-8 col-lg-9">
                    {% block content %}{% endblock %}
                </div>

                <div id="sidebar" class="col-md-4 col-lg-3">
                    {% block sidebar %}
                        {% include '_aside.twig' %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div id="footer">
            {% block footer %}

            {% endblock %}
        </div>
    </div>
</body>
{% block scripts %}
    <script src="{{ paths.theme }}js/jquery.min.js"></script>
    <script src="{{ paths.theme }}js/bootstrap.min.js"></script>
    <script src="{{ paths.theme }}js/jasny-bootstrap.min.js"></script>
    <script src="{{ paths.theme }}js/custom.js"></script>
{% endblock %}
</html>
