{% set data = crowdfunding_handler() %}

{% extends (data.error or data.ok)
    ? '_skeleton.twig'
    : '_skeleton_base.twig' %}

{% block content %}

{% if data.ok %}

<h3>Thank you!</h3>

<p>
  Thank you for your contribution to the team!
</p>

{% elseif data.error %}

<h3>An error occured</h3>

<p>
  Don't worry, your card hasn't been charged. Please see the error description below:
</p>

<pre>{{ data.error }}</pre>

{% else %}
{% block stylesheets %}
    <link rel="stylesheet" 
          href="{{ paths.theme }}css/bootstrap.min.css" />
    <link rel="stylesheet" 
          href="{{ paths.theme }}css/jasny-bootstrap.min.css" />
    <link rel="stylesheet" 
          href="{{ paths.theme }}assets/socicon/styles.css" />

    <link rel="stylesheet"
          href="{{ paths.theme }}css/layout.css" />
    <link rel="stylesheet"
          href="{{ paths.theme }}css/header.css" />
    <link rel="stylesheet"
          href="{{ paths.theme }}css/footer.css" />

    <!--[if lte IE 8]>
        <script src="{{ paths.theme }}js/respond.min.js"></script>
    <![endif]-->
    <link href="//fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <style>

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(96, 96, 96);
    font-size: 1.2vw;
}

/* Courtesy of http://andmag.se/2012/10/responsive-images-how-to-prevent-reflow/ */
.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
    background-color: black;
}

.ratio-16-9 {
    padding-bottom: 56.25%; /* 9/16*100 */
}

.ratio-4-3 {
    padding-bottom: 75%; /* 3/4*100 */
}

.ratio-1-1 {
    padding-bottom: 100%; /* … */
}

.embed-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.margin-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.margin-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.purple-text {
    color: rgb(51, 0, 111);
}

.hero-text {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
}

.hero-subtitle {
    top: 5%;
    font-size: 3vw;
    text-shadow:
        1px 1px 2px rgba(150, 150, 150, 0.6),
        -1px 1px 2px rgba(150, 150, 150, 0.6),
        -1px -1px 2px rgba(150, 150, 150, 0.6),
        1px -1px 2px rgba(150, 150, 150, 0.6);
}

.hero-title {
    bottom: 50%;
    font-size: 8vw;
    text-shadow:
        2px 2px 4px rgba(80, 80, 80, 0.6),
        -2px 2px 2px rgba(150, 150, 80, 0.6),
        -2px -2px 4px rgba(80, 80, 80, 0.6),
        2px -2px 4px rgba(80, 80, 80, 0.6);
}

.hero-caret {
    top: auto;
    bottom: 0;
    font-size: 12rem;
    text-shadow:
        1px 1px 2px rgba(150, 150, 150, 0.6),
        -1px 1px 2px rgba(150, 150, 150, 0.6),
        -1px -1px 2px rgba(150, 150, 150, 0.6),
        1px -1px 2px rgba(150, 150, 150, 0.6);
    cursor: pointer;
}

.section-header {
    color: rgb(51, 0, 111);
    font-weight: 900;
    font-size: 2.5vw;
    text-shadow: 
        -0.02em 0.02em 0 #D9D9D9,
        -0.04em 0.04em 0 #D9D9D9,
        -0.06em 0.06em 0 #D9D9D9;
}

.main-header {
    color: rgb(51, 0, 111);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    text-shadow: 
        -0.01em 0.01em 0 #D9D9D9,
        -0.02em 0.02em 0 #D9D9D9,
        -0.03em 0.03em 0 #D9D9D9,
        -0.04em 0.04em 0 #D9D9D9,
        -0.05em 0.05em 0 #D9D9D9,
        -0.06em 0.06em 0 #D9D9D9;
}

.section-2col {
    margin-top 64px;
    margin-bottom 64px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.section-2col > * {
    flex: 1;
    margin-left: 64px;
    margin-right: 64px;
}

.helpus-container {
    padding: 64px;
    margin: 64px;
}


.subheader {
    color: rgb(51, 0, 111);
    font-size: 1.6vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.box-border {
    border-width: 1px;
    border-style: ridge;
    border-color: rgb(150, 150, 150);
}

.supporters-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.supporters-container > div {
    padding-left: 32px;
    padding-right: 32px;
    border-right: 2px solid rgb(150, 150, 150);
}

.supporters-container > div:last-child {
    border-right: none;
}

.bold-large {
    font-weight: bold;
    font-size: 150%;
}

.gray {
    color: rgb(150, 150, 150);
}

.block-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-progress {
    width: 400px;
    height: 40px;
    overflow: hidden;
    background-color: rgb(219, 219, 219);
    border-radius: 20px;
    box-shadow:
        -2px 2px 2px rgba(0,0,0,.5),
        2px 2px 2px rgba(0,0,0,.5);
    display: block;
}

.custom-progress-bar {
    float: left;
    height: 100%;
    background-color: rgb(51, 0, 111);
}

.purple-button-container {
    margin-top: 48px;
    margin-bottom: 48px;
}

.purple-button {
    color: white;
    font-weight: 1000;
    font-size: 2em;
    padding: 0.5em;
    background-color: rgb(51, 0, 111);
    border-radius: 2em;
}

.whatis-background {
    width: 100%;
    padding: 3.33vw;  /* 64px/1920px */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.whatis-container {
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(150, 150, 150);
}

.whatis-container > div {
    flex: 50%;
    padding: 64px;
}

.support-section {
    margin: 64px;
}

.car-interface {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}

.car-interface > * {
    padding: 16px;
}

.team-list {
    padding: 0;
}

.team-list > li {
    margin: 0.5vw 0 0.5vw 0;
    padding: 0.5vw;
    border: 2px solid rgb(155, 155, 155);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition:
        background-color 0.5s ease,
        border-color 0.5s ease;
    background-color: inherit;
}

.team-list > li:hover {
    border-color: green;
    background-color: rgb(233, 233, 233);
}

.team-list-item-selected {
    background-color: rgb(233, 233, 233) !important;
    border-color: red !important; 
}

.team-list [role="name"] {
    color: rgb(51, 0, 111);
    font-size: 1.6vw;
    padding-right: 64px;
}

.team-list [role="funded"] {
    font-size: 1.3vw;
    white-space: nowrap;
}

.panel-container {
    margin-top: -32px;
    flex: 1;
    width: 100%;
}

.team-panel {
    display: none;
}

.team-panel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.team-description {
    bottom: 0;
    border: 2px solid rgb(155, 155, 155);
    padding-left: 64px;
    padding-right: 64px;
}

.team-description > * {
    margin-top: 16px;
    margin-bottom: 16px;
}

.team-description > h1 {
    color: rgb(51, 0, 111);
}

.team-description > .custom-progress {
    position: relative;
}

.team-description [role="funded"] {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    color: white;
    padding-left: 16px;
}

.team-description [role="goal"] {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    color: black;
    padding-right: 16px;
}

.thankyou-container {
    margin: 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.thankyou-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invalid {
    border-color: red !important;
    border-width: 2px !important;
    transition:
        border-color 0.5s ease,
        border-width 0.5s ease;
}

#payment_errors {
    display: none;
    color: red;
}

.form-container input {
    height: 50px;
    width: 400px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 25px;
    padding: 15px;
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.form-container select {
    height: 50px;
    width: 400px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 25px;
    padding: 10px;
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.address-expand-link:hover {
    cursor: pointer;
}

.address-container {
    display: none;
}

#team-supporting {
    color: rgb(51, 0, 111);
}

.donation-tiers-container {
    margin-top: 64px;
    margin-left: 64px;
    margin-left: 3.33vw;
    margin-right: 3.33vw;
    padding: 32px 1.67vw 96px 1.67vw;
}

.level-included {
    box-shadow:
        0 0 0.2vw 0.1vw green,
        inset 0 0 0.2vw 0.1vw green;
}

.slider-container {
    position: relative;
    display: flex;
    margin-top: 6vw;
}

.slider {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 100px;
    border-right: 6px solid rgb(155, 155, 155);
    top: -25px;
    transition: left 0.5s ease;
}

.slider [role="amount"] {
    position: absolute;
    top: -10rem;
    left: -8rem;
    font-weight: 700;
    font-size: 8rem;
    color: red;
    text-shadow: 1px solid rgb(155, 155, 155);
}

.slider-item {
    flex: 1;
    position: relative;
    padding-top: 5rem;
}

.slider-item [role="dollar"] {
    position: absolute;
    font-size: 5rem;
    top: -1.5rem;
    right: -5rem;
    color: rgb(77, 77, 77);
}

.slider-item [role="line-spacer"] {
    height: 20px;
    border-left: 6px solid rgb(77, 77, 77);
}

.slider-item [role="line"] {
    /* so that it doesn't overlap with markers */
    position: absolute;
    top: calc(5rem + 20px);
    left: 6px;
    width: 100%;
}

.slider-item [role="box"] {
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 1px solid rgb(155, 155, 155);
}

.slider-item [role="title"] {
    font-weight: 700;
    font-size: 1.5vw;
}

#purple-level [role="line"] {
    border-top: 6px solid rgb(51, 0, 111);
}
#purple-level [role="title"] {
    color: rgb(51, 0, 111);
}

#carbon-level [role="line"] {
    border-top: 6px solid rgb(20, 20, 20);
}
#carbon-level [role="title"] {
    color: rgb(20, 20, 20);
}

#silver-level [role="line"] {
    border-top: 6px solid rgb(178, 178, 178);
}
#silver-level [role="title"] {
    color: rgb(178, 178, 178);
}

#gold-level [role="line"] {
    border-top: 6px solid rgb(255, 226, 0);
}
#gold-level [role="title"] {
    color: rgb(255, 226, 0);
}

#diamond-level [role="line"] {
    border-top: 6px solid rgb(226, 226, 226);
}
#diamond-level [role="title"] {
    color: rgb(226, 226, 226);
}

.thankyou-footer {
    position: relative;
}

.thankyou-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12rem;
    font-weight: 700;
    text-shadow:
        2px 2px 4px rgba(80, 80, 80, 0.6),
        -2px 2px 2px rgba(150, 150, 80, 0.6),
        -2px -2px 4px rgba(80, 80, 80, 0.6),
        2px -2px 4px rgba(80, 80, 80, 0.6);
}

    </style>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="embed-container ratio-16-9">
            <img src="{{ image('pages/donate/hero_image.jpg') }}" />
            <div class="hero-text hero-subtitle">
                UWashington <br />
                Formula Motorsports
            </div>
            <div class="hero-text hero-title">
                Road to Germany
            </div>
            <span class="glyphicon glyphicon-chevron-down hero-text hero-caret" aria-hidden="true"></span>
        </div>

        <div id="header" style="font-size: 14px">
            {% block nav %}
                {{ menu('main', '_nav.twig') }}
            {% endblock %}
        </div>


        <h1 id="2017-fundraiser" class="text-center main-header">
            2017 Fundraiser
        </h1>
        <div class="section-2col">
            <div>
                <div class="block-center" style="max-width: 640px">
                    <div class="embed-container ratio-1-1">
                        <img src="{{ image('pages/donate/rodney_car.jpg') }}" />
                    </div>
                </div>
            </div>
            <div>
                <p>
                    2017 marks UWashington Formula Motorsports’ 28th year of designing, building and racing some of the world’s fastest cars. However, this year is special because it marks the final year that UWFM will build a combustion car before transitioning to an electric-only team.
                </p>
                <h2 class="subheader">
                    We are making history...
                </h2>
                <p>
                    This summer, UWFM is determined to win Formula Student Lincoln in both the electric and combustion series.  <br />
                    After Lincoln,  UWFM aims to make history by being the <em>first ever</em> All-American team to win the combustion series at Formula Student Germany. 
                </p>
                <h2 class="subheader">... but racing isn't cheap,</h2>
                <p>
                    Building and racing Formula SAE cars is expensive. A single set of batteries for our electric car can cost over $6000 and shipping our cars overseas can cost twice that much! <br />
                    Since we are a student-organized collegiate club, UWFM relies on <em>sponsorship and donations to cover 100% of our costs.</em>
                </p>
                <h2 class="subheader">and that's where you come in</h2>
                <p>
                    Help us make history by donating to help cover our annuals costs. By supporting our program, you’re doing more than supporting the next generation of engineering and business professionals. You’re supporting the UW, your community, your country, even yourself.
                </p>
                <p style="font-size: 75%">
                    (Because our organization is a registered 501(c)(3), any donation made to UWFM is tax deductible.)
                </p>
            </div>
        </div>
        <div class="helpus-container box-border text-center">
            <h1 class="text-center section-header" style="font-size: 8rem">Help us get racing!</h1>
            <p class="text-center">Donate as little or as much as you want, every penny helps!</p>
            <div class="supporters-container" class="block-center">
                <div>
                    <span class="bold-large">{{ data.supporters }}</span>
                    <br />
                    <span class="gray">Supporters</span>
                </div>
                <div>
                    <span class="bold-large">${{ data.raised|number_format }}</span>
                    <br />
                    <span class="gray">of ${{ data.goal|number_format }}</span>
                </div>
                <div>
                    <span class="bold-large">&#x221e;</span> <!-- infinity -->
                    <br />
                    <span class="gray">Gratitute</span>
                </div>
            </div>
            <div class="custom-progress margin-16 block-center">
                <div class="custom-progress-bar" style="width: {{ data.percentage*100 }}%">
                </div>
            </div>
            <div class="text-center purple-button-container">
                <button id="donate-link" class="purple-button">Donate Now</button>
            </div>
        </div>
        <div class="whatis-background margin-64" style="background-image: url({{ image('pages/donate/team_photo_blurred.jpg') }})">
            <div class="whatis-container">
                <div>
                    <div class="embed-container ratio-16-9">
                        <iframe src="//www.youtube.com/embed/1ZrvBEIa_8Y?autohide=1&amp;showinfo=0&amp;rel=0&amp;autoplay=0" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div>
                    <h1 class="section-header" style="margin-top: 0">What is Formula SAE?</h1>
                    <p>
                        Formula SAE is an engineering design competition for
                        undergraduate and graduate students. The design directive is
                        for teams is to develop and construct a single-seat race car for
                        the non-professional weekend autocross racer with the best
                        overall package of design, construction, performance and cost.
                    </p>
                    <p>
                        The competition provides participants with the opportunity to
                        enhance their engineering design and project management
                        skills by applying learned classroom theories in a competitive
                        setting.
                    </p>
                    <p>
                        <a href="/" target="_blank">Learn More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="support-section">
            <div class="car-interface">
                <div>
                    <h1 class="section-header">
                        What part of our team <br/>
                        would you like to support?
                    </h1>
                    <p class="margin-64">
                        Select the system you would like to help fund.
                    </p>
                    <ul class="team-list">
{% for name, v in data.registry %}
                        <li id="{{ name|lower }}">
                            <span role="name">
                                {{ name }}
                            </span>
                            <span role="funded">
                                {{ (v.percentage*100)|round(0, 'floor') }}% Funded
                            </span>
                        </li>
{% endfor %}
                    </ul>
                </div>
{% macro registry_progress(name, v) %}
<div class="custom-progress">
    <div class="custom-progress-bar" style="width: {{ v.percentage*100 }}%">
    </div>
    <span role="funded">
        {{ (v.percentage*100)|round(0, 'floor') }}% Funded
    </span>
    <span role="goal">
        ${{ (v.goal - v.raised) }} to Go
    </span>
</div>
{% endmacro %}
{% from _self import registry_progress as registry_progress %}
                <div class="panel-container">
                    <div id="default-panel" class="team-panel" style="display: block">
                        <img src="{{ image('pages/donate/teams/car.jpg') }}" />
                    </div>
                    <div id="chassis-panel" class="team-panel">
                        <img src="{{ image('pages/donate/teams/chassis.png') }}" />
                        <div class="team-description">
                            <h1>What is a Chassis?</h1>
                            <p>
                                As the main structural component of the car, the chassis must be incredibly strong to withstand the forces a car undergoes while racing. What’s more, the chassis must also be light to keep the car nimble and fast. Luckily, the Chassis Team has mastered the use of carbon fiber, a material that’s a strong as it is light.
                            </p>
                            {{ registry_progress('Chassis', data.registry.Chassis) }}
                        </div>
                    </div>
                    <div id="aerodynamics-panel" class="team-panel">
                        <img src="{{ image('pages/donate/teams/aero.png') }}" />
                        <div class="team-description">
                            <h1>What are Aerodynamics?</h1>
                            <p>
                                The black magic of racecar engineering; turning air into grip. To do just that, the Aerodynamics Team designs and manufactures a front wing, rear wing, and undertray. Together, these components use the weight of the air passing over them, or downforce, to press all four tires into the track. This force gives the driver more grip, allowing the driver to corner at higher speeds without losing traction. 
                            </p>
                            {{ registry_progress('Aerodynamics', data.registry.Aerodynamics) }}
                        </div>
                    </div>
                    <div id="electronics-panel" class="team-panel">
                        <img src="{{ image('pages/donate/teams/electronics.png') }}" />
                        <div class="team-description">
                            <h1>What are Electronics?</h1>
                            <p>
                                The hard to see, yet incredibly powerful, electronics systems on our cars produce invaluable data and are imperative to the car’s function. The Electronics team produces a wide variety of components, from the steering wheel, to the dashboard, to the power distribution unit. 
                            </p>
                            {{ registry_progress('Electronics', data.registry.Electronics) }}
                        </div>
                    </div>
                    <div id="manufacturing-panel" class="team-panel">
                        <img src="{{ image('pages/donate/teams/manufacturing.png') }}" />
                        <div class="team-description">
                            <h1>What is Manufacturing?</h1>
                            <p>
                                When it comes to constructing our cars swiftly, the manufacturing teams shine brightest. Whether it is a complex aluminum bracket or curvaceous carbon fiber enclosure, these teams manage to produce high quality parts at an alarmingly fast rate. 
                            </p>
                            {{ registry_progress('Manufacturing', data.registry.Manufacturing) }}
                        </div>
                    </div>
                    <div id="powertrain-panel" class="team-panel">
                        <img src="{{ image('pages/donate/teams/powertrain.png') }}" />
                        <div class="team-description">
                            <h1>What is a Powertrain?</h1>
                            <p>
                                Quite simply, powertrain is the heart and muscle of the cars that makes them faster than some six-figure supercars. These systems consist of the engine and differential for our combustion car and the electronic drivetrain for our electric car. Together, these systems generate and deliver the power to the ground, with the help of uniquely modified power sources and complex drivetrain systems.
                            </p>
                            {{ registry_progress('Powertrain', data.registry.Powertrain) }}
                        </div>
                    </div>
                    <div id="suspension-panel" class="team-panel">
                        <img src="{{ image('pages/donate/teams/suspension.png') }}" />
                        <div class="team-description">
                            <h1>What is Suspension?</h1>
                            <p>
                                Pulling a large amounts of g-force is a point of pride for the Suspension team. Whether it be 2.6 G’s under braking or 2.2 G’s in a fast, sweeping corner, the suspension team aims to maximize performance out of the tires whilst keeping components lightweight and strong.
                            </p>
                            {{ registry_progress('Suspension', data.registry.Suspension) }}
                        </div>
                    </div>
                    <div id="competition-panel" class="team-panel">
                        <img src="{{ image('pages/donate/teams/competition.jpg') }}" />
                        <div class="team-description">
                            <h1>What is Competition?</h1>
                            <p>
                                For UWFM, building two racecars is just the tip of a logistical and financial iceberg. After paying for shipping costs, our team must coordinate with several local companies just to get our cars and equipment through customs. What’s more, shipping is just one of several competition related costs. In fact, just registering UWFM for our U.S. competition costs nearly $5000!
                            </p>
                            {{ registry_progress('Competition', data.registry.Competition) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="donate-section" class="section-2col thankyou-container box-border">
            <div>
                <img style="width: 100%" src="{{ image('pages/donate/team_photo.jpg') }}" />
            </div>
            <div class="thankyou-panel">
                <h1 class="text-center section-header">Thank You For Your Support!</h1>
                <div id="team-supporting" style="margin-top: 32px; opacity: 0;">
                    You are supporting:
                    <span id="team-supporting-name">Chassis</span>
                </div>
                <div class="form-container">
                    <form id="checkout_form" method="POST">
                        <input type="text" name="fullname" placeholder="Full Name" />
                        <input type="text" name="amount_displayed" placeholder="Donation Amount" />
                        <input type="hidden" name="amount" />
                        <input type="text" name="email" placeholder="Email Address" />
                        <input type="hidden" name="stripe_token" />
                        <input type="hidden" name="registry" />
                        <a class="address-expand-link">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            Mailing address &amp; T-shirt size ($400+)
                        </a>
                        <div class="address-container">
                            <input type="text" name="address1" placeholder="Address Line 1" />
                            <input type="text" name="address2" placeholder="Address Line 2 (optional)" />
                            <input type="text" name="city" placeholder="City" style="width: auto; display: inline" />
                            <select name="state" style="width: 10rem; display: inline">
{% for abbr in [ 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY' ] %}
                                <option {{ (abbr == 'WA' ? 'selected' : '') }}>{{ abbr }}</option>
{% endfor %}
                            </select>
                            <input type="text" name="zipcode" placeholder="Zip" />
                            <input type="text" name="tshirt" placeholder="T-Shirt size & special requests" />
                        </div>
                        <button type="submit" class="purple-button" id="donate-button" style="width: 100%; margin-top: 64px;">Donate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="donation-tiers-container box-border">
            <h1 class="section-header text-center">DONATION TIERS</h1>
            <div class="slider-container">
                <div class="slider">
                    <span role="amount">$0</span>
                </div>
                <div id="purple-level" class="slider-item">
                    <div role="dollar">
                        $200
                    </div>
                    <div role="line-spacer"></div>
                    <div role="line"></div>
                    <div role="line-spacer"></div>
                    <div role="box">
                        <h2 role="title">
                            Purple Level
                        </h2>
                        <p>
                            Every donation counts! To thank you, we will list your name alongside our other individual sponsors on our website.
                        </p>
                    </div>
                </div>
                <div id="carbon-level" class="slider-item">
                    <div role="dollar">
                        $400
                    </div>
                    <div role="line-spacer"></div>
                    <div role="line"></div>
                    <div role="line-spacer"></div>
                    <div role="box">
                        <h2 role="title">
                            Carbon Level
                        </h2>
                        <p>
                            Congratulations on your naming rights! UWFM Purple sponsors will receive both a team sticker as well as their name placed on of our cars to publicly recognize their support.
                        </p>
                    </div>
                </div>
                <div id="silver-level" class="slider-item">
                    <div role="dollar">
                        $600
                    </div>
                    <div role="line-spacer"></div>
                    <div role="line"></div>
                    <div role="line-spacer"></div>
                    <div role="box">
                        <h2 role="title">
                            Silver Level
                        </h2>
                        <p>
                            You’re amazing! To thank you for your generous donation, our Silver level sponsors will receive a special edition team t-shirt.
                        </p>
                    </div>
                </div>
                <div id="gold-level" class="slider-item">
                    <div role="dollar">
                        $1000
                    </div>
                    <div role="line-spacer"></div>
                    <div role="line"></div>
                    <div role="line-spacer"></div>
                    <div role="box">
                        <h2 role="title">
                            Gold Level
                        </h2>
                        <p>
                            To show you how much we appreciate your generosity, Gold level sponsors will receive a framed photo of our team and cars as well as VIP seating at our Unveiling event. (May 12th, 2017 @ UW)
                        </p>
                    </div>
                </div>
                <div id="diamond-level" class="slider-item">
                    <div role="line-spacer"></div>
                    <div role="line"></div>
                    <div role="line-spacer"></div>
                    <div role="box">
                        <h2 role="title">
                            Diamond Level
                        </h2>
                        <p>
                            You are a cut above the rest. You are what keep our wheels turning and our motors running. As such, we would like to thank you by awarding you one lottery ticket to attend the Washington Racing Experience where one lucky donor will get  to drive a UWFM racecar!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="thankyou-footer">
            <img style="width: 100%" src="{{ image('pages/donate/thankyou_image.jpg') }}" />
            <div class="thankyou-hero">
                Thank you!
            </div>
        </div>

        <div id="footer" style="font-size: 14px">
            {% block footer %}
                {% include '_footer.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ paths.theme }}js/jquery-1.12.0.min.js"></script>
    <script src="{{ paths.theme }}js/bootstrap.min.js"></script>
    <script src="{{ paths.theme }}js/jasny-bootstrap.min.js"></script>
    <script src="{{ paths.theme }}js/js-webshim/polyfiller.js"></script>
    <script>
        /* Temporary fix for webshim issue #560
	 * https://github.com/aFarkas/webshim/issues/560 */
        jQuery.swap = function( elem, options, callback, args ) {
            var ret, name, old = {};
            // Remember the old values, and insert the new ones
            for ( name in options ) {
                    old[ name ] = elem.style[ name ];
                    elem.style[ name ] = options[ name ];
            }
        
            ret = callback.apply( elem, args || [] );
        
            // Revert the old values
            for ( name in options ) {
                    elem.style[ name ] = old[ name ];
            }
            return ret;
        };
        webshims.polyfill('forms es5');
    </script>
    <script src="//checkout.stripe.com/checkout.js"></script>
    <script src="{{ paths.theme }}js/custom.js"></script>
    <script>
$('.hero-caret').click(function() {
    $('html, body').animate({ scrollTop: $('#2017-fundraiser').offset().top }, 1000);
});

$('#donate-link').click(function() {
    $('html, body').animate({ scrollTop: $('#donate-section').offset().top }, 1000);
});

function showAddressContainer() {
    $('.address-container').show('fast');
    var gly = $('.address-expand-link .glyphicon');
    gly.removeClass('glyphicon-chevron-right');
    gly.addClass('glyphicon-chevron-down');
}

function hideAddressContainer() {
    $('.address-container').hide('fast');
    var gly = $('.address-expand-link .glyphicon');
    gly.removeClass('glyphicon-chevron-down');
    gly.addClass('glyphicon-chevron-right');
}

$('.address-expand-link').click(function() {
    var e = $('.address-container');
    if (e.is(':visible')) {
        hideAddressContainer();
    } else {
        showAddressContainer();
    }
});

var selectedTeamId = null;
var selectedTeamName = null;

$('.team-list > li').click(function() {
    var selectId = $(this).attr('id');
    var selectName = $(this).find('[role="name"]').text().trim();
    $('#' + selectedTeamId).removeClass('team-list-item-selected');
    if (selectId != selectedTeamId) {
        selectedTeamId = selectId;
        selectedTeamName = selectName;
        $(this).addClass('team-list-item-selected');
        $('#team-supporting-name').text(selectedTeamName);
        $('input[name=registry]').val(selectedTeamName);
    } else {
        selectedTeamId = null;
        selectedTeamName = null;
    }
    $('#team-supporting').css('opacity', (selectedTeamName ? 1 : 0));
});


$('.team-list > li').hover(function() {
    var hoverId = $(this).attr('id');
    $('.team-panel').css('display', 'none');
    $('#' + hoverId + '-panel').css('display', 'block');
}, function() { });

$('input[name="amount_displayed"]').blur(function() {
    var amount = parseInt($(this).val());
    if (isNaN(amount)) {
        $('.slider').css('opacity', 0);
        return;
    }
    $('.slider [role="amount"]').text('$' + amount);

    var sliderConfig = [
        {
            level: 'purple',
            left: 0,
            right: 200,
        },
        {
            level: 'carbon',
            left: 200,
            right: 400,
        },
        {
            level: 'silver',
            left: 400,
            right: 600,
        },
        {
            level: 'gold',
            left: 600,
            right: 1000,
        },
        {
            level: 'diamond',
            left: 1000,
            right: 2000,
        },
    ];

    var sliderPosition = -1;
    for (var i = 0; i < sliderConfig.length; i++) {
        var cfg = sliderConfig[i];
        var sel = '#' + cfg.level + '-level';
        var boxSel = sel + ' [role=box]';
        if (amount >= cfg.left) {
            $(boxSel).addClass('level-included');
        } else {
            $(boxSel).removeClass('level-included');
        }
        if (sliderPosition === -1 && (amount < cfg.right || i == sliderConfig.length - 1)) {
            var left = $(sel).position().left;
            var right = left + $(sel).width();
            var pct = (amount - cfg.left) / (cfg.right - cfg.left);
            if (pct > 1) {
                pct = 1;
            }
            sliderPosition = left + pct * (right - left);
        }
    }
    $('.slider').css('left', sliderPosition);
    $('.slider').css('opacity', 1);
});

// Stripe handling
var handler = StripeCheckout.configure({
    key: "{{ data.stripe_publishable_key }}",
    image: "{{ image('pages/donate/uw_logo.jpg') }}",
    locale: 'auto',
    token: function(token) {
        $('input[name=stripe_token]').val(token.id);
        console.log('stripe token added');
        $('#checkout_form')[0].submit();
    }
});

var validateCheckoutForm = function() {
    var invalidElements = [];

    var elAmountDisplayed = $('input[name=amount_displayed]');
    var amount_float = parseFloat(elAmountDisplayed.val().replace('$', ''));
    if (!(amount_float > 0)) {
        invalidElements.push(elAmountDisplayed);
    }

    var requiredInputs = [
        'fullname',
        'email',
    ];

    if (amount_float >= 400) {
        requiredInputs.push(
            'address1',
            'city',
            'zipcode',
            'tshirt'
        );
    }

    for (var i = 0; i < requiredInputs.length; i++) {
        var e = $('input[name=' + requiredInputs[i] + ']');
        if (e.val() == '') {
            invalidElements.push(e);
        }
    }


    // handle invalid elements
    $('.invalid').removeClass('invalid');
    $('#payment_errors').hide();
    if (invalidElements.length > 0) {
        for (var i = 0; i < invalidElements.length; i++) {
            var e = invalidElements[i];
            e.addClass('invalid');
            if (i === 0) {
                e.focus();
            }
            if (e.parent('.address-container').length > 0) {
                showAddressContainer();
            }
        }
        return false;
    }

    // success
    var amount = parseInt(amount_float * 100);
    $('input[name=amount]').val(amount);

    return true;
}

$('#checkout_form').submit(function (e) {
    if (e.preventDefault) {
        e.preventDefault();
    } else {
        e.returnValue = false;
    }

    if (!validateCheckoutForm()) {
        return false;
    }

    // Open Checkout with further options:
    handler.open({
        name: 'SAE International',
        description: 'Donation to UW Formula Motorsports',
        zipCode: true,
        amount: parseInt($('input[name=amount]').val()),
        email: $('input[name=email]').val(),
    });
});

// Close Checkout on page navigation:
$(window).on('popstate', function() {
    handler.close();
});

    </script>
{% endblock %}

{% endif %}
{% endblock %}

