{% extends "_skeleton.twig" %}

{% setcontent current_car = 'carinfo' where { car_type: 'cCar' } %}

{% block content %}
    <div class="car-info current-car ccar">
        {{ dump(current_car[0]) }}

        <div class="roster">

            {% for director_team in director_teams %}
                <h2>{{ director_team.title }}</h2>
                <div class="team row">
                    {% for director in director_team.related('teammembers')|reverse %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="team-member">
                                <img src="{{ image(director.headshot) }}" />
                                <div class="caption">
                                    <p class="position">{{ director.position }}</p>
                                    <p class="name">{{ director.title }}</p>
                                    <p class="major">{{ director.major }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            {% for tech_team in tech_teams %}
                <h2>{{ tech_team.title }}</h2>
                <div class="team row">
                    {% for member in tech_team.related('teammembers')|reverse %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="team-member {% if loop.first %}team-lead{% endif %}">
                                <img src="{{ image(member.headshot) }}" />
                                <div class="caption">
                                    <p class="name">
                                        {% if loop.first %}
                                            Lead: 
                                        {% endif %}
                                        {{ member.title }}
                                    </p>
                                    <p class="major">{{ member.major }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
