{% extends "_skeleton.twig" %}

{% block centerpiece %}
    <div class="primary-image">
        <div class="container">
            <div class="showcase">
                <h1>{{ app.config.get('general/sitename') }}</h1>
            </div>
        </div>
        <img src="{{ image(record.image) }}" />
    </div>
{% endblock %}

{% block content %}
    {% setcontent records = "news/latest/4" allowpaging %}
    {% for record in records %}
        <div class="article">
            <div class="article-head">
                <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
                <p class="timestamp">
                    Published {{ record.datepublish|date("l, F j, Y @ g:i a") }}
                </p>
            </div>
            <div class="article-content">
                {{ record.body }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
