{% extends "_skeleton.twig" %}

{% setcontent cars = 'car_info' where { car_type: 'eCar' } orderby 'team_number' %}

{% block content %}
    <div class="car-summaries">
        {% for car in cars %}
            <div class="car-info ccar row">
                <div class="col-xs-12">
                    <h2 class="car-title">Team {{ car.team_number }}: {{ car.title }}</h2>
                    {% if car.image != "" %}
                        <div class="visible-xs-block">
                            <img src="{{ image(car.image) }}" />
                        </div>
                    {% endif %}
                </div>

                <div class="col-sm-6 col-md-5">
                    {% if car.specs != "" %}
                        <h2>Specs:</h2>
                        {{ car.specs }}
                    {% endif %}

                    {% if car.image != "" and car.results != "" %}
                        <h2>Results:</h2>
                        {{ car.results }}
                    {% endif %}
                </div>
                <div class="col-sm-6 col-md-7">
                    {% if car.image != "" %}
                        <div class="visible-sm-block visible-md-block visible-lg-block">
                            <img src="{{ image(car.image) }}" />
                        </div>
                    {% elseif car.results != "" %}
                        <h2>Results:</h2>
                        {{ car.results }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {{ facebookFeed('215551825139322', '974148509327500|2xC-kX3xAndT4RS8PLJ8vz7OULE') }}
{% endblock %}
